{% extends "base.html" %}
{% block content%}	
	<h2>{{banda.nombre}}</h2>
	{% if messages %}
	    {% for message in messages %}
		    <div class='mensaje_respuesta  ui-corner-all {% if message.tags %} {{ message.tags }}{% endif %}' style='text-align: left'>
		    	{{ message }}
		    </div>
		{% endfor %}
	{% endif %}
    <br/>
    
    <div class="detalle-ver detalle">
    	<p><label>Fecha Creacion:</label> {{ banda.fecha_creacion}}</p>
    	<p><label>Tipo:</label> {{ banda.tipo_banda}}</p>
    	<p><label>Generos:</label>
	        {%for genero_banda in generos_banda%}
	            - <a href="/genero/{{genero_banda.genero.id}}/ver">{{ genero_banda.genero.nombre}}</a> 
	        {% endfor%}
	    </p>
	    <p>Descripcion:</p>
	    <div class="descripcion-perfil"> {% autoescape off %} {{ banda.descripcion}}{% endautoescape %}</div>	
	</div>
	<div class="avatar-ver">
        <img src="/media/{{banda.imagen_avatar}}" height=200px width=200px>
    </div>
	
	<h2>Integrantes
		<a class="accion" href="/banda/{{banda.id}}/invitar_musico/">&raquo; Invitar Musico</a>
	</h2>
	
	<div class="integrantes">
		{%if  composiciones_banda.count != 0 %}
			<div class="elementos">
				
				{%for composicion_banda in composiciones_banda%}
				<div class="elemento-musico">
					<div class="avatar-ver">
        				<img src="/media/{{composicion_banda.musico.imagen_avatar}}" height=200px width=200px>
        				<br/><br/>
		        		<div >
							{%if composicion_banda.estado.is_pendiente %}
								<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/confirmar/">Confirmar</a>
								<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/denegar/">Denegar</a>
							{%elif composicion_banda.estado.is_confirmado %}
								<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/denegar/">Denegar</a>
							{%elif composicion_banda.estado.is_denegado %}
								<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/confirmar/">Confirmar</a>
							{%endif %}
							<br/>
							<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/modificar/">Modificar</a>
							<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/eliminar/">Eliminar</a>
						</div>
        			</div>
				    <div class="detalle-ver detalle">
				    	<p><a href="/musico/{{composicion_banda.musico.id}}/ver/">{{composicion_banda.musico.username}}</a></p>
					    <p><label>Nombre:</label> {{ composicion_banda.musico.first_name}}</p>
					    <p><label>Apellido:</label> {{ composicion_banda.musico.last_name}}</p>
					    <p><label>E-mail:</label> {{ composicion_banda.musico.email}}</p>
						<p><label>Fecha Inicio:</label> {{ composicion_banda.fecha_inicio}} &nbsp;</p>   
					    <p><label>Posicion:</label> {{ composicion_banda.posicion}}&nbsp;</p>
				     </div>
				</div>
				{% endfor%}
			</div>
		{%else%}
			<p>La banda no tiene integrantes actualmente</p>
			<br/>
		{%endif%}
	</div>
	<h2>Discografia
		<a class="accion" href="/disco/banda/{{banda.id}}/nuevo/">&raquo; Nuevo</a>
	</h2>
	<div class="discografia">
		{%if  discos.count != 0 %}
			<div class="elementos">
				{%for disco in discos%}
				<div class="elemento-disco">
					<a href="/disco/{{disco.id}}/administrar/"><p>{{ disco.nombre}}</p></a>
					<b>Fecha Publicacion:</b> {{ disco.fecha_publicacion}}
					<br/>
					<b>Discografica:</b> {{ disco.discografica}}
					<br/>
					<b>Cantidad de Temas:</b>
					<br/>
					<br/>
					<div class="links">
						<a href="/disco/{{disco.id}}/modificar/">Modificar</a>
						<a href="/disco/{{disco.id}}/eliminar/">Eliminar</a>
					</div>
					<br/>
				</div>
				{% endfor%}
			</div>
			{%else%}
				<p>La banda no tiene ning&uacute;n disco publicado actualmente</p>
				<br/>
		{%endif%}
	</div>
		
	<h2>Noticias
		<a class="accion" href="/noticia_banda/banda/{{banda.id}}/nuevo/">&raquo; Nuevo</a>
	</h2>
	<div class="noticias">
		{%if noticias_banda.count != 0 %}
			<div class="elementos">
				{%for noticia in noticias_banda %}
				<div class="elemento-noticia">
					<b>Titulo:</b> {{ noticia.titulo}}
					<br/>
					<b>Tipo:</b> {{ noticia.tipo_noticia}}
					<br/>
					<b>Fecha Publicacion:</b> {{ noticia.fecha_publicacion}}
					<br/>
					<b>Estado:</b> {{ noticia.estado}}
					<br/>
					<div class="links">
						{%if noticia.estado.is_borrador %}
							<a href="/noticia_banda/{{noticia.id}}/publicar/">Publicar</a>
							<a href="/noticia_banda/{{noticia.id}}/archivar/">Archivar</a>
						{%elif noticia.estado.is_publicado %}
							<a href="/noticia_banda/{{noticia.id}}/archivar/">Archivar</a>
							<a href="/noticia_banda/{{noticia.id}}/borrador/">Borrador</a>
						{%elif noticia.estado.is_archivado %}
							<a href="/noticia_banda/{{noticia.id}}/publicar/">Publicar</a>
							<a href="/noticia_banda/{{noticia.id}}/borrador/">Borrador</a>
						{%endif %}
						<br/>
					
						<a href="/noticia_banda/{{noticia.id}}/ver/" >Detalle</a>
						{%if noticia.estado.is_borrador %}
							<a href="/noticia_banda/{{noticia.id}}/modificar/">Modificar</a>
						{%else %}
							Modificar	
						{%endif %}							
						<a href="/noticia_banda/{{noticia.id}}/eliminar/">Eliminar</a>
					</div>
					<br/>
				</div>
				{% endfor%}
			</div>
		{%else%}
			<p>La banda no tiene ninguna noticia publicada actualmente</p>
			<br/>
		{%endif%}		
	</div>
		
	<h2>Negociaciones y Eventos</h2>
		<div class="eventos">
			<p>(FALTA COMPLETAR)</p>
			<br/> 
	</div>
		
	<h2>
		Recursos Multimedia
		<a class="accion" href="/multimedia/banda/{{banda.id}}/nuevo">&raquo; Nuevo</a>
	</h2>
	<div class="recursos_multimedia">
		{%if recursos_multimedia.count != 0 %}
			<div class="elementos">
				{%for recurso_multimedia in recursos_multimedia%}
				<div class="elemento-recurso-multimedia">
					<b>Nombre:</b> {{ recurso_multimedia.nombre}}
					<br/>
					<b>Tipo:</b> {{ recurso_multimedia.tipo}}
					<br/>
					<div class="links">
						<a href="/multimedia_banda/{{recurso_multimedia.id}}/modificar">Modificar</a>
						<a href="/multimedia_banda/{{recurso_multimedia.id}}/eliminar">Eliminar</a>
					</div>
					<br/>
				</div>
				{% endfor%}
			</div>
		{%else%}
			<p>La banda no tiene ning&uacute;n recurso multimedia</p>
			<br/>
		{%endif%}
	</div>
		
{% endblock %}

