{% extends "base.html" %}
{% block content%}
	<h2>Invitar Musico</h2>
	{%if cantidad_musicos != 0 %}
	<div class="musicos">
		{%for musico in musicos%}
			<div class="elemento-musico">
				<div class="avatar-ver">
        			<img src="/media/{{musico.imagen_avatar}}" height=200px width=200px>
        			<br/><br/><br/><br/>
        			<div>
						<a href="/banda/{{banda_id}}/musico/{{ musico.id}}/enviar_invitacion/">Enviar Invitaci&oacute;n</a>
					</div>	
        		</div>
				<div class="detalle-ver detalle">
					<p><a href="/musico/{{musico.id}}/ver/">{{musico.username}}</a></p>
					<p><label>Nombre:</label> {{ musico.first_name}}</p>
					<p><label>Apellido:</label> {{ musico.last_name}}</p>
					<p><label>E-mail:</label> {{ musico.email}}</p>
					<p><label>Fecha Nacimiento:</label> {{ musico.fecha_nacimiento}}</p>
					<p><label>Posicion:</label> {{ musico.posicion}}&nbsp;</p>
					<p><label>Estilo:</label> {{ musico.estilo}}&nbsp;</p>
				</div>
		 </div> 
        {% endfor%}
    </div>
    {%else%}
		<p>No hay m&uacute;sicos para invitar</p>
	{%endif%}
{% endblock %}
