{% extends "base.html" %}
{% block content%}

	<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
	</script>
	
	
    <h2>{{banda.nombre}}</h2>
    <br/>
    <h3>Detalle:</h3>
    <br/>
    <b>Fecha Creacion:</b> {{ banda.fecha_creacion}}
    <br/>
    <b>Tipo:</b> {{ banda.tipo_banda}}
    <br/>
    <b>Generos:</b>
        {%for genero_banda in generos_banda%}
            {{ genero_banda.genero.nombre}},
        {% endfor%}	
		
	<br/>
	<br/>
	<div id="accordion">
		<p><a href="#">Integrantes</a></p>
		<div class="integrantes">
			<p>(Falta) <a href="/banda/{{banda.id}}/invitar_musico">Invitar nuevo Musico</a></p>
			<div class="elementos">
				{%for composicion_banda in composiciones_banda%}
				<div class="elemento-musico estado_{{ composicion_banda.estado}}">
					<p>(Falta) <a href="/musico/{{composicion_banda.musico.id}}/ver/">{{ composicion_banda.musico.first_name}}, {{composicion_banda.musico.last_name}}</a></p>
					<b>Fecha Inicio:</b> {{ composicion_banda.fecha_inicio}}
					<br/>
					<b>Fecha Fin:</b> {{ composicion_banda.fecha_fin}}
					<br/>
					<b>Posicion:</b> {{ composicion_banda.posicion}}
					<br/>
					<b>Estado:</b> {{composicion_banda.estado}}
					<br/>

					<br/>
					<div class="links">
						{%if composicion_banda.estado.is_pendiente %}
							<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/confirmar/">Confirmar</a>
							<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/denegar/">Denegar</a>
						{%elif composicion_banda.estado.is_confirmado %}
							<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/denegar/">Denegar</a>
						{%elif composicion_banda.estado.is_denegado %}
							<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/confirmar/">Confirmar</a>
						{%endif %}
						<br/>
						<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/modificar/">Modificar</a>
						<a href="/banda/{{banda.id}}/musico/{{composicion_banda.musico.id}}/eliminar/">Eliminar</a>


					</div>
					<br/>
				</div>
				{% endfor%}
			</div>
		</div>
		<p><a href="#">Discografia</a></p>
		<div class="discografia">
			<a href="/disco/banda/{{banda.id}}/nuevo/"><p>Nuevo Disco</p></a>
			<div class="elementos">
				{%for disco in discos%}
				<div class="elemento-disco">
					<a href="/disco/{{disco.id}}/ver/"><p>{{ disco.nombre}}</p></a>
					<b>Fecha Publicacion:</b> {{ disco.fecha_publicacion}}
					<br/>
					<b>Discografica:</b> {{ disco.discografica}}
					<br/>
					<b>Cantidad de Temas:</b>
					<br/>
					<br/>
					<div class="links">
						<a href="/disco/{{disco.id}}/modificar/">Modificar</a>
						(Falta) <a href="/disco/{{disco.id}}/eliminar/">Eliminar</a>
					</div>
					<br/>
				</div>
				{% endfor%}
			</div>
		</div>
	
		<p><a href="#">Temas Banda</a></p>
		<div class="temas">
			<p>(Falta) <a href="/tema/banda/{{banda.id}}/nuevo/">Nuevo Tema</a></p>
			<div class="elementos">
				{%for tema_banda in temas_banda%}
				<div class="elemento-disco">
					<b>Tema:</b> {{ tema_banda.tema.nombre}}
					<br/>
					<b>Duracion:</b> {{ tema_banda.duracion}}
					<br/>
					<div class="links">
						(Falta) <a href="/tema/{{tema.id}}/banda/{{banda.id}}/modificar/">Modificar</a>
						(Falta) <a href="/tema/{{disco.id}}/banda/{{banda.id}}/eliminar/">Eliminar</a>
					</div>
					<br/>
				</div>
				{% endfor%}
			</div>
		</div>
		<!--<p><a href="#">Negociaciones y Eventos</a></p>
		<div class="temas">
		</div>
		<p><a href="#">Noticias</a></p>
		<div class="temas">
		</div>
		<p><a href="#">Recursos Multimedia</a></p>
		<div class="temas">
		</div>--!>
		
	</div>
{% endblock %}

