{% extends "base.html" %}
{% block content%}

	
	
    <h2>{{banda.nombre}}</h2>
    
    <div class="detalle-ver detalle">
    	<p><label>Fecha Creacion:</label> {{ banda.fecha_creacion}}</p>
    	<p><label>Tipo:</label> {{ banda.tipo_banda}}</p>
    	<p><label>Generos:</label>
	        {%for genero_banda in generos_banda%}
	            - <a href="/genero/{{genero_banda.genero.id}}/ver">{{ genero_banda.genero.nombre}}</a> 
	        {% endfor%}
	    </p>
	    <p>Descripcion:</p>
	    <div class="descripcion-perfil"> {% autoescape off %} {{ banda.descripcion}}{% endautoescape %}</div>	
	</div>
	<div class="avatar-ver">
        <img src="/media/{{banda.imagen_avatar}}" height=200px width=200px>
	    <div>
			<h2>Suscripcion</h2>
			
			{%if suscripciones.count == 0 %}
				<form action="/banda/{{banda_id}}/suscribirme/" method="post">
					{% csrf_token %}
			   		{{ form_suscripcion.as_p }}
			   		{%if user.is_authenticated %}
						<input type="submit" value="Suscribirme" />
					{%else%}
						<input class="open-mensaje" type="submit" value="Suscribirme" />
					{%endif%}
				</form>
			{%else%}
				<form action="/banda/{{banda_id}}/no_suscribirme/" method="post">
					{% csrf_token %}
					<p><label for="id_periodicidad">Periodicidad:</label> {{suscripcion.periodicidad.nombre}}</p>
					<input type="submit" value="Quitar Suscripci&oacute;n" />
				</form>	
			{%endif%}
		</div>    
		<br/><br/>
		<div>
	    	<h2>Like</h2>
		    {%if user.is_authenticated %}
		    	{%if cantidad_like == 0 %}	
		    		<a href="/banda/{{banda_id}}/like"><img src="images/like.png"/></a>
		    	{%else%}
		    		<a href="/banda/{{banda_id}}/no_like"><img src="images/no_like.png"/></a>
		    	{%endif%}
			{%else%}
				<a href="#" class="open-mensaje"><img src="images/like.png"/></a>
			{%endif%}
			<br/>
			<b>Cantidad de Seguidores:</b>  {{cantidad_seguidores}}
	    </div>
		
		<div id="dialog-message" title="Mensaje">
			<p>Necesitas estar logueado para poder disponer de estas funciones</p>
		</div>
    </div>
	<h2>Integrantes</h2>
	<div class="integrantes">
			{%if  composiciones_banda.count != 0 %}
			<div class="elementos">
				{%for composicion_banda in composiciones_banda%}
				<div class="elemento-musico">
					<div class="avatar-ver">
        				<img src="/media/{{composicion_banda.musico.imagen_avatar}}" height=200px width=200px>
        				<br/><br/>
        			</div>
				    <div class="detalle-ver detalle">
				    	<p><a href="/musico/{{composicion_banda.musico.id}}/ver/">{{composicion_banda.musico.username}}</a></p>
					    <p><label>Nombre:</label> {{ composicion_banda.musico.first_name}}</p>
					    <p><label>Apellido:</label> {{ composicion_banda.musico.last_name}}</p>
					    <p><label>E-mail:</label> {{ composicion_banda.musico.email}}</p>
						<p><label>Fecha Inicio:</label> {{ composicion_banda.fecha_inicio}} &nbsp;</p>   
					    <p><label>Posicion:</label> {{ composicion_banda.posicion}}&nbsp;</p>
				     </div>
				</div>    
				{% endfor%}
			</div>
			{%else%}
				<p>La banda no tiene integrantes actualmente</p>
				<br/>
			{%endif%}
	</div>
	<h2>Discografia</h2>
	<div class="discografia">
		{%if  discos.count != 0 %}
			<div class="elementos">
				{%for disco in discos%}
				<div class="elemento-disco">
					<a href="/disco/{{disco.id}}/ver/"><p>{{ disco.nombre}}</p></a>
					<b>Fecha Publicacion:</b> {{ disco.fecha_publicacion}}
					<br/>
					<b>Discografica:</b> {{ disco.discografica}}
					<br/>
					<b>Cantidad de Temas:</b>
				</div>
				{% endfor%}
			</div>
		{%else%}
			<p>La banda no tiene ning&uacute;n disco publicado actualmente</p>
			<br/>
		{%endif%}
	</div>
	<h2>Noticias</h2>
	<div class="noticias">
	    {%if noticias_banda.count != 0 %}
			<div class="elementos">
				{%for noticia in noticias_banda %}
				<div class="elemento-home-noticia">
					<p class="fecha-noticia">{{ noticia.fecha_publicacion}}</p>
					<p class="objeto-noticia">Banda:{{ noticia.banda.nombre}}</p>
					<p class="titulo-noticia">{{ noticia.titulo}}</p>
					{% autoescape off %} 
					{{noticia.contenido|truncatewords:20}} 
					{% endautoescape %}
					<a href="/noticia_banda/{{ noticia.id}}/ver/">seguir leyendo</a>
				</div>
				{% endfor%}
			</div>		
		{%else%}
			<p>La banda no tiene ninguna noticia publicada actualmente</p>
			<br/>
		{%endif%}
	</div>
		
	<h2>Negociaciones y Eventos</h2>
	<div class="eventos">
		<p>(FALTA COMPLETAR)</p>
		<br/> 
	</div>
		
	<h2>Recursos Multimedia</h2>
	<div class="recursos_multimedia">
		{%if recursos_multimedia.count != 0 %}
			<div class="elementos">
				{%for recurso_multimedia in recursos_multimedia%}
				<div class="elemento-recurso-multimedia">
					<b>Nombre:</b> {{ recurso_multimedia.nombre}}
					<br/>
					<b>Tipo:</b> {{ recurso_multimedia.tipo}}
				</div>
				{% endfor%}
			</div>
		{%else%}
			<p>La banda no tiene ning&uacute;n recurso multimedia</p>
			<br/>
		{%endif%}
	</div>
		
	</div>
{% endblock %}

