{% extends "base.html" %}
{% block content%}
    <h2>Perfil Complejo</h2>
    <a href="/complejo/{{complejo.id}}/modificar"><p>Modificar</p></a>
    <h3>{{complejo.username}}</h3>
    <p><b>Nombre:</b> {{ complejo.first_name}}</p>
    <p><b>Apellido:</b> {{ complejo.last_name}}</p>
    <p><b>Direcci&oacute;n de correo electr&oacute;nico:</b> {{ complejo.email}}</p>
    <p><b>Fecha Nacimiento:</b> {{ complejo.fecha_nacimiento}}</p>
    <p><b>Direccion:</b> {{ complejo.direccion}}</p>
    <br/>
{% endblock %}
