{% extends "base.html" %}
{% block content%}
	<script>
		$(function() {
			$( ".accordion" ).accordion();
		});
	</script>
	
    <h2>Complejo: {{complejo.username}}</h2>
    <br/>
    
    <div class="avatar-ver">
        <img src="/media/{{complejo.imagen_avatar}}" height=200px width=200px>
	    <div>
			<h2>Suscripcion</h2>
			
			{%if suscripciones.count == 0 %}
				<form action="/complejo/{{complejo.id}}/suscribirme/" method="post">
					{% csrf_token %}
			   		{{ form_suscripcion.as_p }}
			   		{%if user.is_authenticated %}
						<input type="submit" value="Suscribirme" />
					{%else%}
						<input class="open-mensaje" type="submit" value="Suscribirme" />
					{%endif%}
				</form>
			{%else%}
				<form action="/complejo/{{complejo.id}}/no_suscribirme/" method="post">
					{% csrf_token %}
					<p><label for="id_periodicidad">Periodicidad:</label> {{suscripcion.periodicidad.nombre}}</p>
					<input type="submit" value="Quitar Suscripci&oacute;n" />
				</form>	
			{%endif%}
		</div>
		<br>
		<br>    
	    <div>
	    	<h2>Like</h2>
		    {%if user.is_authenticated %}
		    	{%if cantidad_like == 0 %}	
		    		<a href="/complejo/{{complejo.id}}/like"><img src="images/like.png"/></a>
		    	{%else%}
		    		<a href="/complejo/{{complejo.id}}/no_like"><img src="images/no_like.png"/></a>
		    	{%endif%}
			{%else%}
				<a href="#" class="open-mensaje"><img src="images/like.png"/></a>
			{%endif%}
			<br/>
			<b>Cantidad de Seguidores:</b>  {{cantidad_seguidores}}
	    </div>    
    </div>
    <div class="detalle-ver detalle">
	    <p><label>Nombre:</label> {{ complejo.first_name}}</p>
	    <p><label>Apellido:</label> {{ complejo.last_name}}</p>
	    <p><label>Direcci&oacute;n de correo electr&oacute;nico:</label> {{ complejo.email}}</p>
	    <p><label>Fecha Nacimiento:</label> {{ complejo.fecha_nacimiento}}</p>
	    <p><label>Direccion:</label> {{ complejo.direccion}}</p>
	    <p><label>Nombre del Complejo:</label> {{ complejo.nombre}}</p>
	    <p>Descripcion:</p>
	    <div class="descripcion-perfil"> {% autoescape off %} {{ complejo.descripcion}}{% endautoescape %}</div>
    </div>	
	
	<div id="dialog-message" title="Mensaje">
	<p>Necesitas estar logueado para poder disponer de estas funciones</p>
	</div>
   
	<div class="sedes">
		{%for sede in sedes%}
        <div class="elemento-sede">
			<h2>Sede: {{sede.nombre}}</h2>
			<div class="detalle-ver detalle">
		    	<p><label>Direccion:</label> {{ sede.direccion}}</p>
			    <p><label>Tipo:</label> {{ sede.tipo_sede}}</p>
			    <p><label>Capacidad Maxima:</label> {{ sede.capaxidad_maxima_personas}}</p>
			    <p><label>Fecha Habilitacion:</label> {{ sede.fecha_habilitacion}}</p>
				<p><label>Telefono:</label> {{sede.telefono}}</p>
				<p>Descripcion:</p>
				<div class="descripcion-perfil"> {% autoescape off %} {{ sede.descripcion}}{% endautoescape %}</div>	
	    	</div>
	    	<div class="avatar-ver">
	        	<img src="/media/{{sede.imagen_avatar}}" height=200px width=200px>
	    	</div>
		</div>		
		{% endfor%}	
	</div>	
	
{% endblock %}	