{% extends "base.html" %}
{% block content%}
<h2>
	Noticias
	<a class="accion" href="/noticia_complejo/nuevo">&raquo; Nueva</a>
</h2>
{% if messages %}
	    {% for message in messages %}
		    <div class='mensaje_respuesta  ui-corner-all {% if message.tags %} {{ message.tags }}{% endif %}' style='text-align: left'>
		    	{{ message }}
		    </div>
		{% endfor %}
{% endif %}

<div class="elementos">
	{%for noticia in noticias_complejo %}
		<div class="elemento-noticia">
			<b>Titulo:</b> {{ noticia.titulo}}
			<br/>
			<b>Tipo:</b> {{ noticia.tipo_noticia}}
			<br/>
			<b>Fecha Publicacion:</b> {{ noticia.fecha_publicacion}}
			<br/>
			<b>Estado:</b> {{ noticia.estado}}
			<br/>
			<div class="links">
				{%if noticia.estado.is_borrador %}
					<a href="/noticia_complejo/{{noticia.id}}/publicar/">Publicar</a>
					<a href="/noticia_complejo/{{noticia.id}}/archivar/">Archivar</a>
				{%elif noticia.estado.is_publicado %}
					<a href="/noticia_complejo/{{noticia.id}}/archivar/">Archivar</a>
					<a href="/noticia_complejo/{{noticia.id}}/borrador/">Borrador</a>
				{%elif noticia.estado.is_archivado %}
					<a href="/noticia_complejo/{{noticia.id}}/publicar/">Publicar</a>
					<a href="/noticia_complejo/{{noticia.id}}/borrador/">Borrador</a>
				{%endif %}
				<br/>
				<a href="/noticia_complejo/{{noticia.id}}/ver/">Detalle</a>
				{%if noticia.estado.is_borrador %}
					<a href="/noticia_complejo/{{noticia.id}}/modificar/">Modificar</a>
				{%else %}
					Modificar	
				{%endif %}							
				<a href="/noticia_complejo/{{noticia.id}}/eliminar/">Eliminar</a>
			</div>
			<br/>
		</div>
	{% endfor%}
</div>		
{% endblock %}