{% extends "base.html" %}
{% block content%}
	<h2>Negociaciones</h2>
	<a href="/negociacion/nuevo"><p>Nueva Negociacion</p></a>
    <div class="elementos">
		{%for negociacion in negociaciones %}
        <div class="elemento-noticia">    
         	<b>Nombre:</b> {{negociacion.nombre}}
            <br/>
            <b>Complejo:</b> {{negociacion.complejo}}
            <br/>
            <b>Sede:</b> {{negociacion.sede}}
            <br/>
            <b>Fecha:</b> {{negociacion.fecha}}
            <br/> 
            <b>Estado:</b> {{negociacion.estado}}
            <br/> 
			<div class="links">
				{%if negociacion.estado.is_pendiente %}
					<a href="/negociacion/{{negociacion.id}}/confirmar/">Confirmar</a>
					<a href="/negociacion/{{negociacion.id}}/rechazar/">Rechazar</a>
					
				<br/>
				<a href="/negociacion/{{negociacion.id}}/generar_oferta/">Crear Oferta</a>
				<a href="/negociacion/{{negociacion.id}}/ver/">Detalle</a>
				{%endif %}
			</div>
			<br/>        
        </div>
        {% endfor%}
    </div>
{% endblock %}