{% extends "base.html" %}
{% block content%}
	<h2>Negociaciones</h2>
	<a href="/negociacion/nuevo"><p>Nueva Negociacion</p></a>
    <div class="elementos">
    {% if messages %}
	    {% for message in messages %}
		    <div class='mensaje_respuesta  ui-corner-all {% if message.tags %} {{ message.tags }}{% endif %}' style='text-align: left'>
		    	{{ message }}
		    </div>
		{% endfor %}
	{% endif %}

		{%for negociacion in negociaciones %}
        <div class="elemento-noticia">    
         	<b>Nombre:</b> {{negociacion.nombre}}
            <br/>
            <b>Complejo:</b> {{negociacion.complejo}}
            <br/>
            <b>Sede:</b> {{negociacion.sede}}
            <br/>
            <b>Fecha:</b> {{negociacion.fecha}}
            <br/> 
            <b>Estado:</b> {{negociacion.estado}}
            <br/> 
            {%if negociacion.inicio_negociacion == 'B' %}
            	<b>Inicio Negociacion: Banda</b> 
			{% endif %}   
			{%if negociacion.inicio_negociacion == 'C' %}
            	<b>Inicio Negociacion: Complejo</b>  
			{% endif %}   
			<br/><div class="links">
				<a href="/negociacion/{{negociacion.id}}/ver/">Detalle</a>				
			</div>

			<br/>        
        </div>
        {% endfor%}
    </div>
{% endblock %}