{% extends "base.html" %}
{% block content%}
    <h2>Fan: {{fan.username}}</h2>
    <div class="detalle-ver detalle">
	    <p><label>Nombre:</label> {{ fan.first_name}}</p>
	    <p><label>Apellido:</label> {{ fan.last_name}}</p>
	    <p><label>E-mail:</label> {{ fan.email}}</p>
	    <p><label>Fecha Nacimiento:</label> {{ fan.fecha_nacimiento}}</p>
	    <p><label>Direccion:</label> {{ fan.direccion}}</p>
	    <p>Descripcion:</p>
	    <div class="descripcion-perfil"> {% autoescape off %} {{ fan.descripcion}}{% endautoescape %}</div>
    </div>
    <div class="avatar-ver">
        <img src="/media/{{fan.imagen_avatar}}" height=200px width=200px>
    </div>
    <h2>Bandas Suscriptas</h2>
    <div class="suscripcion-bandas">
		{%if  suscripciones_banda.count != 0 %}
			<div class="elementos">
				{%for suscripcion_banda in suscripciones_banda%}
				<div class="elemento-suscripcion-banda">
					<p><a href="/banda/{{suscripcion_banda.banda.id}}/ver/">{{suscripcion_banda.banda.nombre}}</a></p>
					<b>Periodicidad:</b> {{ suscripcion_banda.periodicidad}}
					<br/>
				</div>
				{% endfor%}
			</div>
		{%else%}
			<p>El m&uacute;sico no tiene suscripciones de bandas</p>
			<br/>
		{%endif%}
	</div>
	<h2>G&eacute;neros Suscriptos</h2>
	<div class="suscripcion-generos">
		{%if  suscripciones_genero.count != 0 %}
			<div class="elementos">
				{%for suscripcion_genero in suscripciones_genero%}
				<div class="elemento-suscripcion-genero">
					<p><a href="/genero/{{suscripcion_genero.genero.id}}/ver/">{{suscripcion_genero.genero.nombre}}</a></p>
					<b>Periodicidad:</b> {{ suscripcion_genero.periodicidad}}
					<br/>
				</div>
				{% endfor%}
			</div>
		{%else%}
			<p>El m&uacute;sico no tiene suscripciones de g&eacute;neros</p>
			<br/>
		{%endif%}
	</div>
	<h2>Eventos Anteriores</h2>
	<div class="eventos">
		<p>Falta Completar</p>
		<br/>
	</div>
	<h2>Pr&oacute;ximos Eventos</h2>
	<div class="eventos">
		<p>Falta Completar</p>
		<br/>
	</div>

	
{% endblock %}	