{% extends "base.html" %}
{% block content%}

	<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
	</script>
	
    <h2>Genero: {{genero.nombre}}</h2>
    
    <div class="suscripcion">
		<h2>Suscripcion</h2>
		
		{%if cantidad_suscripcion == 0 %}
			<form action="/genero/{{genero_id}}/suscribirme/" method="post">
				{% csrf_token %}
		   		{{ form_suscripcion.as_p }}
		   		{%if user.is_authenticated %}
					<input type="submit" value="Suscribirme" />
				{%else%}
					<input class="open-mensaje" type="submit" value="Suscribirme" />
				{%endif%}
			</form>
		{%else%}
			<form action="/genero/{{genero_id}}/no_suscribirme/" method="post">
				{% csrf_token %}
				<p><label for="id_periodicidad">Periodicidad:</label> {{suscripcion.periodicidad.nombre}}</p>
				<input type="submit" value="Quitar Suscripci&oacute;n" />
			</form>	
		{%endif%}
	</div>	
	
    <div class="like">
    	<h2>Like</h2>
	    {%if user.is_authenticated %}
	    	{%if cantidad_like == 0 %}	
	    		<a href="/genero/{{genero_id}}/like"><img src="images/like.png"/></a>
	    	{%else%}
	    		<a href="/genero/{{genero_id}}/no_like"><img src="images/no_like.png"/></a>
	    	{%endif%}
		{%else%}
			<a href="#" class="open-mensaje"><img src="images/like.png"/></a>
		{%endif%}
		<br/>
		<b>Cantidad de Seguidores:</b>  {{cantidad_seguidores}}
    </div>
	
	
	<div id="dialog-message" title="Mensaje">
	<p>Necesitas estar logueado para poder disponer de estas funciones</p>
	</div>
	<br/><br/><br/><br/>
	<br/><br/><br/><br/>
	<br/>
    <div id="accordion">
		<p><a href="#">Bandas</a></p>
		<div class="bandas">
			{%if  bandas_genero.count != 0 %}
			<div class="elementos">
				{%for banda_genero in bandas_genero%}
				<div class="elemento-banda">
					<p><a href="/banda/{{banda_genero.banda.id}}/ver/">{{ banda_genero.banda.nombre}}</a></p>
					<b>Fecha Creacion:</b> {{ banda_genero.banda.fecha_creacion}}
            		<br/>
            		<b>Tipo:</b> {{ banda_genero.banda.tipo_banda}}
				</div>
				{% endfor%}
			</div>
			{%else%}
				<p>No hay bandas que pertenezcan al g&eacute;nero</p>
			{%endif%}
		</div>
		<p><a href="#">Noticias</a></p>
		<div class="noticias">
			{%if cantidad_noticias_genero != 0 %}
		    <div class="elementos">
				{%for noticia in noticias_genero %}
				<div class="elemento-home-noticia">
					<p class="fecha-noticia">{{ noticia.fecha_publicacion}}</p>
					<p class="objeto-noticia">Banda:{{ noticia.banda.nombre}}</p>
					<p class="titulo-noticia">{{ noticia.titulo}}</p>
					{% autoescape off %} 
					{{noticia.contenido|truncatewords:20}} 
					{% endautoescape %}
					<a href="/noticia_banda/{{ noticia.id}}/ver/">seguir leyendo</a>
				</div>
				{% endfor%}
			</div>
			{%else%}
				<p>No hay noticias publicadas para el g&eacute;nero</p>
			{%endif%}		
		</div>
		<p><a href="#">Eventos</a></p>
		<div class="eventos">
			(FALTA COMPLETAR)
		</div>
	</div>
{% endblock %}


