{% extends "base.html" %}
{% block content%}
	<h2>
		Esquemas de Entrada
		<a class="accion" href="/esquema_entrada/evento/{{evento_id}}/sede/{{sede_id}}/seleccionar_configuracion_sede">&raquo; Nuevo</a>
	</h2>
	{% if messages %}
	    {% for message in messages %}
		    <div class='mensaje_respuesta  ui-corner-all {% if message.tags %} {{ message.tags }}{% endif %}' style='text-align: left'>
		    	{{ message }}
		    </div>
		{% endfor %}
	{% endif %}
    <br/>
	<div class="elementos">
		{%for configuracion_esquema_entrada in configuraciones_esquema_entrada%}
			<div class="elemento-configuracion-sede">
				<b>Nombre:</b> {{ configuracion_esquema_entrada.nombre}}
				<br/>
				<b>Cantidad Entradas Disponibles:</b> {{ configuracion_esquema_entrada.cantidad_entradas_disponibles}}
				<br/>
				<b>Cantidad Entradas Reserva:</b> {{ configuracion_esquema_entrada.cantidad_entradas_reserva}}
				<br/>
				<b>Precio:</b> {{ configuracion_esquema_entrada.precio_entrada}}
				<br/>
				<div class="links">
					<a href="/configuracion_esquema_entrada/{{configuracion_esquema_entrada.id}}/modificar">Modificar</a>
					<a href="/configuracion_esquema_entrada/{{configuracion_esquema_entrada.id}}/eliminar">Eliminar</a>
				</div>
				<br/>
			</div>
		{% endfor%}
	</div>
{% endblock %}