.elemento-genero {
	border:1px solid #979797;
	padding: 5px;
	height: 30px;
	width: 100px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.generos
{
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.elemento-disco
 {
     border:1px solid #979797;
     width: 250px;
     float:left;
	 padding: 5px;
     margin-right: 10px;
     margin-bottom: 10px;
 }
.elemento-musico
{
	border:1px solid #979797;
	padding: 5px;
	width: 250px;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.elemento-invitacion-musico
{
	border:1px solid #979797;
	padding: 5px;
	width: 350px;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.links
{
	text-align:right;
}

.elemento-tema
{
    border:1px solid #979797;
    padding: 5px;
    width: 200px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.elemento-banda
{
    border:1px solid #979797;
    padding: 5px;
    width: 250px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.elemento-sede
{
    border:1px solid #979797;
    padding: 5px;
    width: 250px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.elemento-equipo
{
    border:1px solid #979797;
    padding: 5px;
    width: 250px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.elemento-suscripcion-genero
{
    border:1px solid #979797;
    padding: 5px;
    width: 250px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.elemento-suscripcion-banda
{
    border:1px solid #979797;
    padding: 5px;
    width: 250px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.elemento-suscripcion-musico
{
    border:1px solid #979797;
    padding: 5px;
    width: 250px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.elemento-suscripcion-complejo
{
    border:1px solid #979797;
    padding: 5px;
    width: 250px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.elemento-noticia
{
    border:1px solid #979797;
    padding: 5px;
    width: 28%;
    float:left;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.elemento-home-noticia
{
    border-bottom:1px solid #979797;
    padding: 5px;
    width: 98%;
    float:left;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 10px;

}

.elemento-home-proximo-evento
{
    border-bottom:1px solid #979797;
    padding: 5px;
    width: 98%;
    float:left;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 10px;

}

.ver-noticia
{
    margin: 10px;
    margin-right:30px;
}


.fecha-noticia
{
	color: #9342D7;
	text-align:right;
	padding:0;

}

.titulo-noticia
{
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;

}

.objeto-noticia
{
	color: #9342D7;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;

}
.contenido-noticia
{
	text-align:justify;
	text-justify:inter-word;

}

.publicidad
{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    color: red;
    height: 115px;
    margin-top: -97px;
    margin-left: 390px;
    width: 100%;
}

form p
{
	margin-top:10px;
	border-bottom: 1px solid #6B2C8B;
	padding-bottom:10px;
}


form label
{
	 width: 30%;
  	 float: left;
} 


.detalle p
{
	margin-top:10px;
	border-bottom: 1px solid #6B2C8B;
	padding-bottom:10px;
}

.detalle label
{
	 width: 20%;
  	 float: left;
  	 font-weight: bold;
} 

.suscripcion
{
	width:380px;
	border: 1px solid #6B2C8B;
	padding-bottom:10px;
	 margin-right: -82px;
    margin-top: -45px;
    float:right;
    height:100px;
}

.suscripcion h2
{
	margin-left:0px;
}
.like
{
	width:200px;
	border: 1px solid #6B2C8B;
	padding-bottom:10px;
	 margin-right: -1px;
    margin-top: -45px;
    float:right;
    height:100px;
}


.like h2
{
	margin-left:0px;
}


form input  { padding-right:5px; padding-left:5px; padding:1px 0 1px 3px; border:1px solid #ffffff; font-weight: bold; color:#6B2C8B; background:#ffffff;}
form select { padding:1px 0 1px 3px; border:1px solid #ffffff; font-weight: bold; color:#6B2C8B; background:#ffffff;}


.label-contacts-form  { line-height:18px; padding-bottom:8px; color:#ffffff; font-weight: bold;}
.contacts-form input { width:100px; padding:1px 0 1px 3px; border:1px solid #ffffff; font-weight: bold; color:#6B2C8B; background:#ffffff;}



.mensaje_respuesta
{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left:10px;
	color:#ffffff;
	padding-bottom: 15px;
}

.success
{
	background: url("../images/success.png") repeat scroll 50% 50% #056B0B;
}


.error
{
	background: url("../images/error.png") repeat scroll 50% 50% #056B0B;
}


.content-home
{
	width:80%;
	float:left;
}

.publicidad-home
{
	width:20%;
	float:right;
	 min-height: 900px;
	background-color:#fff;
}
