{% extends "base.html" %}
{% block content%}
	<h2>Intrumentos</h2>
    <p>(Falta) <a href="/musico/equipo/nuevo/">Nuevo Equipo</a></p>
    <div class="bandas">
		{%for equipo_musico in equipos_musico%}
        <div class="elemento-equipo">
            <p>(Falta) <a href="/musico/equipo/{{equipo_musico.equipo.id}}/ver/">{{ equipo_musico.equipo.nombre}}</a></p>
            <b>Clasificacion:</b> {{ equipo_musico.equipo.clasificacion_equipo.nombre}}
            <br/>
			<div class="links">
				(Falta)<a href="/musico/equipo/{{equipo_musico.equipo.id}}/modificar/">Modificar</a>
				(Falta)<a href="/musico/equipo/{{equipo_musico.equipo.id}}/eliminar/">Eliminar</a>
			</div>	
        </div>
        {% endfor%}
    </div>
{% endblock %}
