{% extends "base.html" %}
{% block content%}
    <h2>
    	{{musico.username}}
    	<a class="accion" href="/musico/{{musico.id}}/modificar/">&raquo; Modificar</a>
    </h2>
    {% if messages %}
	    {% for message in messages %}
		    <div class='mensaje_respuesta  ui-corner-all {% if message.tags %} {{ message.tags }}{% endif %}' style='text-align: left'>
		    	{{ message }}
		    </div>
		{% endfor %}
	{% endif %}
    
	<div class="detalle-perfil detalle">
	    <p><label>Nombre:</label> {{ musico.first_name}}</p>
	    <p><label>Apellido:</label> {{ musico.last_name}}</p>
	    <p><label>E-mail:</label> {{ musico.email}}</p>
	    <p><label>Fecha Nacimiento:</label> {{ musico.fecha_nacimiento}}</p>
	    <p><label>Direccion:</label> {{ musico.direccion}}</p>
	    <p><label>Posicion:</label> {{ musico.posicion}}</p>
	    <p><label>Estilo:</label> {{ musico.estilo}}</p>
	    <p>Descripcion:</p>
	    <div class="descripcion-perfil"> {% autoescape off %} {{ musico.descripcion}}{% endautoescape %}</div>
    </div>
     <div class="avatar">
        <img src="/media/{{musico.imagen_avatar}}" height=200px width=200px>
    </div>
{% endblock %}
