{% extends "base.html" %}
{% block content%}
	<h2>
		Instrumentos
		<a class="accion" href="/equipo/nuevo">&raquo; Nuevo</a>
	</h2>
	{% if messages %}
	    {% for message in messages %}
		    <div class='mensaje_respuesta  ui-corner-all {% if message.tags %} {{ message.tags }}{% endif %}' style='text-align: left'>
		    	{{ message }}
		    </div>
		{% endfor %}
	{% endif %}
    
    {%if equipos_musico.count != 0 %}
    <div class="equipos">
		{%for equipo_musico in equipos_musico%}
        <div class="elemento-equipo">
            <b>{{ equipo_musico.equipo.nombre}}</b>
            <br/>
            <b>Clasificacion:</b> {{ equipo_musico.equipo.clasificacion_equipo.nombre}}
            <br/>
			<div class="links">
				<a href="/equipo/{{equipo_musico.id}}/modificar">Modificar</a>
				<a href="/equipo/{{equipo_musico.id}}/eliminar">Eliminar</a>
			</div>	
        </div>
        {% endfor%}
    </div>
    {%else%}
		<p>Usted no interpreta ning&uacute;n instrumento actualmente</p>
	{%endif%}
{% endblock %}
