{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load pagination_tags %}
{% load i18n %}

{% block title %} / {{ forum.name }}{% endblock %}
{% block content %}
{% autopaginate topics forum_settings.FORUM_PAGE_SIZE %}

<h2>
	<a href="{% url djangobb:index %}">{% trans "Root" %}</a> &raquo; {{ forum.name }}
	{% if user.is_authenticated %}
		<a class="accion" href="{% url djangobb:add_topic forum.id %}">&raquo; {% trans "New topic" %}</a>
	{% endif %}	
</h2>
			{% if topics %}
				{% for topic in topics %}
				<div class="elemento-home-noticia">
					<span class="objeto-noticia">{% link topic %} </span>
					<span>(creado por: {{ topic.user.username }})<span>
				</div>
				{% endfor %}
			{% else %}
				<div class="elemento-home-noticia">
					<p>{% trans "Forum is empty." %}</p>
				</div>
			{% endif %}



{% endblock %}
