{% load forum_extras %}
{% load i18n %}

<br/><br/>
<div id="foro_menu">
			<ul>
			{% block menu %}
				<li id="navindex"><a href="{% url djangobb:index %}">{% trans "Index" %}</a></li>
				<li id="navuserlist"><a href="{% url djangobb:forum_users %}">{% trans "User list" %}</a></li>
				<li id="navsearch"><a href="{% url djangobb:search %}">{% trans "Search" %}</a></li>
				{% if user.is_superuser %}
					<li id="navadmin"><a href="{% url admin:index %}">{% trans "Administration" %}</a></li>
				{% endif %}
				{% if user.is_authenticated %}
					<li id="navprofile"><a href="{% url djangobb:forum_profile request.user %}">{% trans "Profile" %}</a></li>
					{% if forum_settings.PM_SUPPORT %}
						<li id="navpm"><a href="{% url messages_inbox %}">{% trans "PM" %}</a></li> 
					{% endif %}
				{% endif %}
			{% endblock %}
			</ul>
			
</div>


<br/><br/><br/><br/><br/><br/>
{% if forum_settings.NOTICE %}
	<div id="announce" class="block">
		<h2><span>{% trans "Notice" %}</span></h2>
		<div class="box">
			<div class="inbox">
				<div>{{ forum_settings.NOTICE }}</div>
			</div>
		</div>
	</div>
{% endif %}
