{% extends "base.html" %}
{% block content%}
    <h2>{{disco.nombre}}</h2>
    {% if messages %}
	    {% for message in messages %}
		    <div class='mensaje_respuesta  ui-corner-all {% if message.tags %} {{ message.tags }}{% endif %}' style='text-align: left'>
		    	{{ message }}
		    </div>
		{% endfor %}
	{% endif %}
	<b>Fecha Publicacion:</b> {{ disco.fecha_publicacion}}
    <br/>
    <b>Discografica:</b> {{ disco.discografica}}
    <br/>
	<br/>
    <div class="temas_disco">
        <h3>Temas:</h3>
        <p><a href="/disco/{{disco.id}}/nuevo_composicion_disco/">Agregar Tema</a></p>
        <div class="elementos">
            {%for composicion_disco in composiciones_disco%}
            <div class="elemento-tema">
                <b>Nombre:</b> {{ composicion_disco.tema_banda.tema.nombre}}
                <br/>
                <b>Posicion:</b> {{ composicion_disco.posicion}}
                <br/>
                <b>Duracion:</b> {{composicion_disco.tema_banda.duracion}}
                <br/>
                <br/>
                <div class="links">
                    <a href="/composicion_disco/{{composicion_disco.id}}/modificar/">Modificar</a>
                    <a href="/composicion_disco/{{composicion_disco.id}}/eliminar/">Eliminar</a>
                </div>
                <br/>
            </div>
            {% endfor%}
        </div>
    </div>

{% endblock %}

