{% extends "base.html" %}
{% block content%}
    <h2>{{disco.nombre}}</h2>
	
    <b>Fecha Publicacion:</b> {{ disco.fecha_publicacion}}
    <br/>
    <b>Discografica:</b> {{ disco.discografica}}
    <br/>
	<br/>
    <div class="temas_disco">
        <h3>Temas:</h3>
        <div class="elementos">
            {%for composicion_disco in composiciones_disco%}
            <div class="elemento-tema">
                <b>Nombre:</b> {{ composicion_disco.tema_banda.tema.nombre}}
                <br/>
                <b>Posicion:</b> {{ composicion_disco.posicion}}
                <br/>
                <b>Duracion:</b> {{composicion_disco.tema_banda.duracion}}
                <br/>
            </div>
            {% endfor%}
        </div>
    </div>

{% endblock %}

