<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gigs And Venues</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="css/jquery-ui.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/estilo.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/base.css" type="text/css" media="all">
	
    <script type="text/javascript" src="js/jquery.js" ></script>
    <script type="text/javascript" src="js/ckeditor.js" ></script>
    <script type="text/javascript" src="js/config.js" ></script>
	<script type="text/javascript" src="js/jquery-ui.js" ></script>
    <script type="text/javascript" src="js/funciones.js" ></script>
    <script type="text/javascript" src="js/cufon-yui.js"></script>
    <script type="text/javascript" src="js/cufon-replace.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/ITC_Busorama_500.font.js"></script>
    <!--[if lt IE 7]>
    <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen">
    <script type="text/javascript" src="js/ie_png.js"></script>
    <script type="text/javascript">
        ie_png.fix('.png, header nav ul li, header nav ul li a, h1 a');
    </script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
</head>
<body id="page2">
<div class="wrap">
    <!-- header -->
    <header>
        <div class="container">
        	<img src="images/logo.png"/>
        
            <nav>
                <ul>
                    <li class="menu"><a href="/" class="active"><span>home</span></a></li>
                    <li class="menu"><a href="/noticia/listado/"><span>Noticias</span></a></li>
                    <li class="menu"><a href="/forum/"><span>Foros</span></a></li>
                    <li class="menu"><a href="/buscador/index"><span>Buscador</span></a></li>
                    <li class="menu last"><a href="/usuario/register/"><span>Registrarse</span></a></li>
                </ul>
            </nav>
            <div class="publicidad">
            	<p> PUBLICIDAD </p>
			</div>            
        </div>
    </header>
    <div class="container" id="container">
        <!-- aside -->
        <aside>
            <div class="inside">
                {%if user.is_authenticated %}
                <div class="login">
	            	<h2>Usuario</h2>
	            	<form id="contacts-form" action="/usuario/logout/" method="post">
	            		<div style='display:none'>
		    				{% csrf_token %}
		    			</div>
	            		<strong>{{user.username}} ({{user.first_name}}, {{user.last_name}})</strong>
	            		<br/><br/>
	            		<input type="submit" value="Salir" />
	            	</form>
            	</div>
            	<br/><br/>
                <h2>Menu</h2>
                <ul class="news">
                    <li><a href="/usuario/perfil">Perfil de Usuario</a></li>
                    <li>(Falta) <a href="#">Transferencia de Tipo de Usuario</a></li>
                    <li>(Falta) <a href="#">Suscripciones</a></li>
                    {%if usuario_registrado.is_fan %}
                    <li>(Falta) <a href="#">Armado de Conjunto de Eventos</a></li>
                    <li>(Falta) <a href="#">Cronogramas</a></li>
                    {%endif%}
                    {%if usuario_registrado.is_complejo %}
                    <li><a href="/noticia_complejo/listado">Noticias</a></li>
                    <li>(Falta) <a href="/sede/listado">Sedes</a></li>
                    
                    <li>
                     (Falta) <a HREF="javascript:Ayuda(prueba)">Adm. de Negociaciones y Eventos</a>
                    	<div id="prueba" Style = "visibility:hidden;">
                    	<ul>
                    		<li>(Falta) <a href="/complejo/nuevo_evento/sinNegociacion">----->Crear evento sin negociacion</a></li>	          	
                    	</ul>
                    	</div>
                    </li>
                    
                    {%endif%}
                    {%if usuario_registrado.is_musico %}
                    <li><a href="/banda/listado">Bandas</a></li>
					<li><a href="/equipo/listado">Instrumentos</a></li>
                    {%endif%}
                </ul>
                {%else%}
                <div class="login">
            		<h2>Usuario</h2>
					<form id="contacts-form" action="/usuario/login/" method="post">
		    			<div style='display:none'>
		    				{% csrf_token %}
		    			</div>	
		    			<label for="id_username">Nombre de Usuario:</label><br/> <input id="id_username" type="text" name="username" maxlength="30" /><br/>
						<label for="id_password">Password:</label> <br/><input type="password" name="password" id="id_password" /><br/><br/>
						<input type="submit" value="Entrar" />
					</form>
            	</div>
                {%endif%}
            </div>
        </aside>
        <!-- content -->
        <section id="content">
            <div class="wrapper">
                {% block content %}{% endblock %}
            </div>
        </section>
        <div class="clear"></div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="inside"> Copyright 2012 - GigsAndVenues.com.ar - All rights reserved</div>
    </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>

<SCRIPT Language="JavaScript">
<!--

function Ayuda(identificador)
{
identificador.style.visibility='visible';
}

//-->
</SCRIPT>
</body>
</html>