{% extends "base.html" %}
{% block content%}
    <h2>
        Sedes
        <a class="accion" href="/sede/nuevo">&raquo; Nueva</a>
    </h2>
    {% if messages %}
	    {% for message in messages %}
		    <div class='mensaje_respuesta  ui-corner-all {% if message.tags %} {{ message.tags }}{% endif %}' style='text-align: left'>
		    	{{ message }}
		    </div>
		{% endfor %}
	{% endif %}
	
    <div class="sedes">
		{%for sede in sedes%}
        <div class="elemento-sede">
			<div class="detalle-perfil detalle">
				<p><a href="/sede/{{sede.id}}/administrar/">{{ sede.nombre}}</a></p>
				<p><label>Direccion:</label> {{ sede.direccion}}</p>
            	<p><label>Tipo:</label> {{ sede.tipo_sede}}</p>
            	<p><label>Capacidad Maxima:</label> {{ sede.capaxidad_maxima_personas}}</p>
            	<p><label>Fecha Habilitacion:</label> {{ sede.fecha_habilitacion}}</p>
            	<p><label>Telefono:</label> {{sede.telefono}}</p>
            	<br/><br/><br/>
		    </div>
		     <div class="avatar-ver">
		        <img src="/media/{{sede.imagen_avatar}}" height=200px width=200px>
		        <br/><br/><br/><br/>
		        <div >
					<a href="/sede/{{sede.id}}/modificar/">Modificar</a>
					(Falta) <a href="/sede/{{sede.id}}/eliminar/">Eliminar</a>
				</div>	
		    </div>        
        </div>
        {% endfor%}
    </div>
{% endblock %}

