{% extends "base_celular.html" %}
{% block menu_noticias %}class="active"{% endblock %} 
{% block content%}
	<div class="content-home">
		<h2>Noticias</h2>
		<div class="noticias">
			<div class="elementos">
				{%for noticia in noticias_banda %}
					<div class="elemento-home-noticia">
						<p class="fecha-noticia">{{ noticia.fecha_publicacion}}</p>
						<p class="objeto-noticia">Banda:{{ noticia.banda.nombre}}</p>
						<p class="titulo-noticia">{{ noticia.titulo}}</p>
						{% autoescape off %} 
						{{noticia.contenido|truncatewords:30}} 
						{% endautoescape %}
						<br/>
						<a href="/celular/noticia_banda/{{ noticia.id}}/ver/">seguir leyendo</a>
					</div>
				{% endfor%}
				{%for noticia in noticias_complejo %}
					<div class="elemento-home-noticia">
						<p class="fecha-noticia">{{ noticia.fecha_publicacion}}</p>
						<p class="objeto-noticia">Complejo:{{ noticia.complejo.nombre}}</p>
						<p class="titulo-noticia">{{ noticia.titulo}}</p>
						{% autoescape off %} 
						{{noticia.contenido|truncatewords:30}} 
						{% endautoescape %}
						<br/>
						<a href="/celular/noticia_complejo/{{ noticia.id}}/ver/">seguir leyendo</a>
					</div>
				{% endfor%}
			</div>		
		</div>
	</div>
	
{% endblock %}